body{

  min-height: 70vh;
  background-image: url(moun.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  /* width: 100%; */

}
